/* ==== PRIMARY BASIC STYLES ==== */

* {
 box-sizing: border-box;
}

h1, h2, h3,
ul, li,
p,
img {
  margin-bottom: 2.1rem;
}

.location, .program, .gifts, .qa, .contact {
  text-align: center; 
  width: 100%;
  margin: 2rem auto;
  padding: .3rem 1rem;
}

body {
  background: url(https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png) center;
  color: #444349;
  font-size: 1.0625rem;
  line-height: 1.5;
}

h1, h2 {
  font-family: 'Great Vibes', cursive;
}

h1 {
  font-size: 5.8rem;
}

h2 {
  font-size: 2.5rem;
}

a{
  color: #bd806e;
  text-decoration: none;
}

a:hover {
  color: #eda087;
  transition: color .15sec ease-in-out; 
}

