/* ==== PRIMARY BASIC STYLES ==== */

* {
 box-sizing: border-box;
}

h1, h2, h3,
ul, li
p,
img {
  margin-bottom: 2.1rem;
}

.location, .program, .gifts, .qa, .contact {
  text-align: center; 
  width: 100%;
  margin: 2rem auto;
  padding: .3rem 1rem;
}

body {
  background: url(https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png) center;
  color: #444349;
  font-size: 1.0625rem;
  line-height: 1.5;
}

h1, h2 {
  font-family: 'Great Vibes', cursive;
}

h1 {
  font-size: 5.8rem;
  color: #d2ba87;
  border-bottom: 0rem;
}

h2 {
  font-size: 2.54rem;
}

h3 {
  font-size: 1.35rem;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
}

a{
  color: #bd806e;
  text-decoration: none;
}

a:hover {
  color: #eda087;
  transition: color .15sec ease-in-out; 
}


/* ==== HEADER STYLES ==== */

.cover {
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  color: hsla(0,0%,100%,.9);
  font-size: 1.25rem;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  display: table;
  width: 100%;
}

.border {
  margin: 0 auto;
  padding: .625rem;
  background: hsla(100,0%,0%,.5);
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
}

.tagline {
  letter-spacing: .15rem;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
}

.tagline::after {
  display: block;
  content: "";
  background-color: hsla(0,0%,100%,.9);
  height: 1px;
  width: 12.5rem;
  margin: .5rem auto;
}

.date {
  margin-top: -3rem;
}

.date::before,
.date::after{
  display: inline-block;
  content: "";
  background-color: hsla(0,0%,100%,.9);
  height: 1px;
  width: 2rem;
  vertical-align: middle;
  margin: .0.5rem;
}


/* ==== "LOCATION" STYLES ==== */

.blurb {
  font-family: 'Muli', sans-serif;
  color: #444349;
}

.blurb img {
  height: 7rem;
}

.blurb::after {
  display: block;
  content: "";
  background-color: black;
  height: .1875rem;
  width: 30vw;
  margin: 1.5rem auto;
}


/* ==== "PROGRAM" STYLES ==== */

.program {
  background-color: hsla(100,0%,0%,.6);
  color: #d2ba87;
  font-family: 'Muli', sans-serif;
  width: 100vw;
  text-align: left;
}

.program p {
  font-style: italic;
  text-align: center;
  margin-bottom: 0.75rem;
}

.program h2 {
  margin-top: 1rem;
  text-align: center;
}

.program li {
  letter-spacing: .025rem;
}



